.container {
    display: flex;
    flex-wrap: wrap;
}

.projboxes {
    width: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 1rem 4rem;
}

@media screen and (max-width: 750px) {
    .projboxes a {
        font-size: 20px;
    }

    .projboxes img {
        width: 3rem;
    }
}

.projboxes a, .projboxes a:hover {
    color: white;
}

.projboxes:hover {
    background-color: rgba(128, 128, 128, 0.311);
}

.projboxes img {
    width: 4rem;
}