.container {
    display: flex;
    flex-wrap: wrap;
}

.projboxes {
    width: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem 4rem;
}

@media screen and (max-width: 750px) {
    .container {
        gap: 3rem;
    }
    .projboxes {

        width: 7rem;
        gap: 1rem;
        padding: 1rem 4rem;
    }

    .projboxes a {
        font-size: 20px;
        display: grid;
        grid-template-rows: 1fr 1fr;
        place-items: center;
    }

    .projboxes img {
        width: 3rem;
    }
}

.projboxes a, .projboxes a:hover {
    color: white;
}

.projboxes:hover {
    background-color: rgba(128, 128, 128, 0.311);
}

.projboxes img {
    width: 4rem;
}