

/* footer */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.543);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    box-sizing: border-box;
    z-index: 1000;
}

.footername {
    position: absolute;
    left: 47%;
}

@media screen and (max-width: 740px) {
    .footername {
        display: none;
    }


    
}

.iconbox {
    display: flex;
    gap: 1rem;
}

.footer img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.window {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
}

.dark {
    background: linear-gradient( rgb(0, 0, 0), rgb(30, 0, 69));
}

.dark a, .dark a:hover {
    color: white;
    font-weight: 400;
}

.light {
    background: linear-gradient(rgb(198, 198, 198), white);
    color: black;
}

.light a, .light a:hover {
    color: black;
    font-weight: 400;
}

/*window*/

.boxescontainer {
    max-width: 23rem;
    height: 25rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    flex-wrap: wrap;
}

.boxes {
    width: 7rem;
    height: 7rem;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
}

.boxes:hover {
    background-color: rgba(128, 128, 128, 0.082);
    border: 1px solid rgb(123, 123, 123);
}

.boxes img {
    width: 3rem;
}

.boxes span{
    font-size: 1rem;
}
.invert {
    filter: invert(100%)
}

@media screen and (max-width: 750px) {
    .window {
        height: 100dvh;
    }
    .boxescontainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        gap: 5vh;
    }

    .boxes {
        border-radius: 10px;
        gap: 0.2rem;
        padding: 0.5rem;
        width: 6rem;
        height: 6rem;
        justify-content: center;
    }
     
    .dark .boxes {
        background-color: rgba(242, 242, 242, 0.196) ;
    }

    .light .boxes {
        background-color: rgba(242, 242, 242, 0.53);
    }
}

