@keyframes windowPopUp {
    from {
        width: 10%;
        right: 90%;
        top: 5%;
    }
    to {
        width: 50%;
        right: 10%;
        top: 20%;
    }
}

@keyframes windowMaximize {
    from {
        width: 50%;
        right: 10%;
        top: 20%;
        height: 50%;
    }

    to {
        width: 100%;
        right: 0;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
    }
    
}

.smallwindow {
position: absolute;
right: 10%;
top: 20%;
 width: 40rem;
 height: 20rem;
 background-color: rgb(35, 35, 35);
 border: 2px solid grey;
 animation: windowPopUp 300ms ease-in;
 display: flex;
 flex-direction: column;
}


.bigwindow {
 position: fixed;
 top: 0;
 left: 0;
 bottom: 0;
 right: 0;
 width: 100%;
 height: 100%;
 background-color: black;
 border: 2px solid grey;
 box-sizing: border-box;
 animation: windowMaximize 200ms ease-in-out;
 display: flex;
 flex-direction: column;
}

@media screen and (max-width: 750px) {
    .smallwindow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        border: 2px solid grey;
        box-sizing: border-box;
        animation: windowMaximize 200ms ease-in-out;
    }
}

.windowheader {
    cursor:grab;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: linear-gradient(to right, rgb(255, 247, 247), rgb(218, 218, 218), rgb(241, 241, 241))
}

.iconscontainer {
    margin-right: 1rem;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.iconscontainer img {
    width: 1.5rem;
    cursor: pointer;
}

.wndbtn:hover {
    filter: invert(40%)
}
.closebtn:hover {
    filter: invert(30%) sepia(87%) saturate(5615%) hue-rotate(351deg) brightness(88%) contrast(135%);
}

.windowcontent {
    height: 100%;
}

