.sticker_note {
    position: absolute;
    right: 2rem;
    top: 2rem;
    padding: 1rem;
    width: 12rem;
    border-radius: var(--border-radius);
    font-size: 0.8rem;
    box-shadow: var(--box-shadow);
    border: 1px solid black;
    height: fit-content;
}

.sticker_note header {
    cursor: grab;
    height: 1.5rem;
    background-color: rgba(0, 0, 0, 0.041);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    margin: -1rem -1rem 1rem -1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    padding: 0 0.5rem
}

.sticker_note header span {
    user-select: none;
    color: rgb(44, 44, 44);
    cursor: pointer;
}

.sticker_note .placeholder {
    color: rgb(63, 63, 63);
}

.sticker_note textarea {
    width: 100%;
    height: fit-content;
    border: none;
    resize: none;
    background-color: transparent;
    font-family: 'Unifont';
    font-size: 0.8rem;
    outline: none;
}