/*main*/
.tasks {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;
    overflow-y: scroll;
    height: 90%;
    scrollbar-width: thin;
}

.tasks h3 {
    margin: 0 0 1rem 0;
}

.todolist {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/*todo list rows*/
.todorow {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.415);
    border-radius: 20px;
    transition: box-shadow 400ms ease-in-out;
}

.todorow:hover {
    box-shadow: 0px 3px 2px rgba(132, 132, 132, 0.378);
}

.todorow  .status_button {
    border-radius: 100%;
    border: 1px solid gray;
    width: 1.5rem;
    height: 1.5rem;
    display: grid;
    place-items: center;
    margin-left: 1rem;
}

.todorow  .delete_button {
    opacity: 0;
    border: none;
    font-size: 1.5rem;
    padding: 0;
    background-color: transparent;
    margin-left: auto;
    margin-right: 2rem;
    transition: opacity 200ms ease-in-out;
    cursor: pointer;
}

.todorow .delete_button img {
    width: 1.2rem;
}

.todorow:hover .delete_button {
    opacity: 1;
}


.todorow.done p {
    text-decoration: line-through;
}

.todorow .status_marker {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 100px;
}

.todorow.high .status_marker {
    background-color: red;
}
.todorow.medium .status_marker {
    background-color: orange;
}
.todorow.low .status_marker {
    background-color: green;
}

/* todo inputs*/
.todoinput {
     display: flex;
     justify-content: space-between;
     display: grid;
     grid-template-columns: 3fr 1fr 1fr;
     gap: 0.5rem;
}

.todoinput input, .todoinput select, .todoinput button {
    width: 100%;
    border-radius: 20px;
    border: 1px solid gray;
    padding: 0.4rem;
    font-family: 'Unifont'
}

.todoinput input {
    width: 100%;
}

.todoinput button {
    width: 5rem;
}


/* percentage marker */
.progress_bar {
  position: absolute;
  right: 1rem;
  bottom: 1rem;  
}

/* login btn*/
.tasks .login {
    border: none;
    background-color: white;
    width: fit-content;
    border-radius: 50px;
    border: 1px solid gray;
    font-family: 'Unifont', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: border-color 400ms ease-in-out;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.tasks .login:hover {
    border-color: black;
}

/*error*/
.error {
    color: rgb(255, 142, 142);
    font-size: 0.8rem;
}

@media screen and (max-width: 750px) {
    .tasks {
        font-size: 1.2rem;
    }
    .todoinput {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .todoinput input {
        grid-column: 1/3;
        font-size: 1.2rem;
    }
    .todoinput select {
        grid-row: 2/3;
        grid-column: 1/2;
             font-size: 1.2rem;
    }
    .todoinput button {
                grid-row: 2/3;
        grid-column: 2/3;
             font-size: 1.2rem;
    }
}