


.window {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    box-sizing: border-box;

}

.dark {
    background: url('../../assets/images/backgrounddm.svg');
    color: white;
}

.dark a, .dark a:hover {
    color: white;
    font-weight: 400;
    text-decoration: none;
}

.light {
    background-color: rgb(251, 246, 241);
    background-size: cover;
    background-position: 50%;
    color: black;
}

.light a, .light a:hover {
    color: black;
    font-weight: 400;
    text-decoration: none;
}

/*window*/

.boxescontainer {
    max-width: 23rem;
    height: 25rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    flex-wrap: wrap;

}


.box {
    width: 6rem;
    height: 6rem;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.5s ease;

}

.box:hover {
    background-color: rgba(128, 128, 128, 0.082);
    border: 1px solid rgba(123, 123, 123, 0.473);
}

.box img {
    width: 2.5rem;
}

.box span{
    font-size: 0.9rem;
}


.invert {
    filter: invert(100%)
}

@media screen and (max-width: 750px) {
    .window {
        height: 100dvh;
    }
    .boxescontainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        gap: 5vh;
    }

         .box {
        border-radius: 10px;
        gap: 0.2rem;
        padding: 0.5rem;
        width: 6rem;
        height: 6rem;
        justify-content: center;
    }
     
    .dark .box {
        background-color: rgba(242, 242, 242, 0.196) ;
    }

    .light .box {
        background-color: rgba(242, 242, 242, 0.53);
    }

}

