
.container {
    width: 100%;
    background-color: rgb(255, 255, 248);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    border-radius: var(--border-radius);
    
}
.header {
    font-size: 200%;
    color: gray;
    position: absolute;
    top: 0;
    width: 100%;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carrousel {
    width: 80%;
    height: 80%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 0.5rem;
}

.index {
    position: absolute;
    bottom: 1rem;
}
.arrows {
    position: absolute;
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#prev {
    left: 1.5rem;
}

#next {
    right: 1.5rem;
}

.left {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.right {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}


.boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out; 
}

@keyframes imgstranslate {
    0% {
        transform: translateX(0)
    }
    100% {
        transform: translateX(-5%);
    }
}


.animate {
    opacity: 0;
}

.boxes img {
        border-radius: 10px;
          
}

.bigbox {
    position: relative;
    width: 65%;
    height: 85%;
    border-radius: 20px;


}

.smallbox {
    position: relative;
    width: 55%;
    height: 75%;
}



.bigbox img {
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: opacity 0.3s ease-in-out; 
}

.smallbox img {
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: opacity 0.5s ease-in-out; 
}

.boxes span {
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 750px) {
    .carrousel {
        flex-direction: column;
    }

    .bigbox {
        height: 35%;
        width: 75%;
    }
    
    .smallbox {
        width: 65%;
        height: 30%;
    }

    .arrows {
        display: none;
    }

    .animate {
        opacity: 0;
    }


    .bigbox {
        box-shadow: none;
    }

    .boxes img {
        transition: opacity 0.5s ease-in-out;
    }
    
}